/* FC Webicons by Fairhead Creative http://fairheadcreative.com */

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; margin-left: 2px }
.fc-webicon:hover { margin: -1px 0 1px 2px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.fc-webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Dropbox */
.no-svg .fc-webicon.dropbox { background: url("/images/fc-icons/fc-webicon-dropbox-m.png"); }
.no-svg .fc-webicon.dropbox.large { background: url("/images/fc-icons/fc-webicon-dropbox.png"); }
.no-svg .fc-webicon.dropbox.small { background: url("/images/fc-icons/fc-webicon-dropbox-s.png"); }
.svg .fc-webicon.dropbox { background: url("/images/fc-icons/fc-webicon-dropbox.svg"); }

/* Facebook */
.no-svg .fc-webicon.facebook { background: url("/images/fc-icons/fc-webicon-facebook-m.png"); }
.no-svg .fc-webicon.facebook.large { background: url("/images/fc-icons/fc-webicon-facebook.png"); }
.no-svg .fc-webicon.facebook.small { background: url("/images/fc-icons/fc-webicon-facebook-s.png"); }
.svg .fc-webicon.facebook { background: url("/images/fc-icons/fc-webicon-facebook.svg"); }

/* Flickr */
.no-svg .fc-webicon.flickr { background: url("/images/fc-icons/fc-webicon-flickr-m.png"); }
.no-svg .fc-webicon.flickr.large { background: url("/images/fc-icons/fc-webicon-flickr.png"); }
.no-svg .fc-webicon.flickr.small { background: url("/images/fc-icons/fc-webicon-flickr-s.png"); }
.svg .fc-webicon.flickr { background: url("/images/fc-icons/fc-webicon-flickr.svg"); }

/* Foursquare */
.no-svg .fc-webicon.foursquare { background: url("/images/fc-icons/fc-webicon-foursquare-m.png"); }
.no-svg .fc-webicon.foursquare.large { background: url("/images/fc-icons/fc-webicon-foursquare.png"); }
.no-svg .fc-webicon.foursquare.small { background: url("/images/fc-icons/fc-webicon-foursquare-s.png"); }
.svg .fc-webicon.foursquare { background: url("/images/fc-icons/fc-webicon-foursquare.svg"); }

/* Github */
.no-svg .fc-webicon.github { background: url("/images/fc-icons/fc-webicon-github-m.png"); }
.no-svg .fc-webicon.github.large { background: url("/images/fc-icons/fc-webicon-github.png"); }
.no-svg .fc-webicon.github.small { background: url("/images/fc-icons/fc-webicon-github-s.png"); }
.svg .fc-webicon.github { background: url("/images/fc-icons/fc-webicon-github.svg"); }

/* Google+ */
.no-svg .fc-webicon.googleplus { background: url("/images/fc-icons/fc-webicon-googleplus-m.png"); }
.no-svg .fc-webicon.googleplus.large { background: url("/images/fc-icons/fc-webicon-googleplus.png"); }
.no-svg .fc-webicon.googleplus.small { background: url("/images/fc-icons/fc-webicon-googleplus-s.png"); }
.svg .fc-webicon.googleplus { background: url("/images/fc-icons/fc-webicon-googleplus.svg"); }

/* Instagram */
.no-svg .fc-webicon.instagram { background: url("/images/fc-icons/fc-webicon-instagram-m.png"); }
.no-svg .fc-webicon.instagram.large { background: url("/images/fc-icons/fc-webicon-instagram.png"); }
.no-svg .fc-webicon.instagram.small { background: url("/images/fc-icons/fc-webicon-instagram-s.png"); }
.svg .fc-webicon.instagram { background: url("/images/fc-icons/fc-webicon-instagram.svg"); }

/* Pinterest */
.no-svg .fc-webicon.pinterest { background: url("/images/fc-icons/fc-webicon-pinterest-m.png"); }
.no-svg .fc-webicon.pinterest.large { background: url("/images/fc-icons/fc-webicon-pinterest.png"); }
.no-svg .fc-webicon.pinterest.small { background: url("/images/fc-icons/fc-webicon-pinterest-s.png"); }
.svg .fc-webicon.pinterest { background: url("/images/fc-icons/fc-webicon-pinterest.svg"); }

/* PocketApp */
.no-svg .fc-webicon.pocket { background: url("/images/fc-icons/fc-webicon-pocketapp-m.png"); }
.no-svg .fc-webicon.pocket.large { background: url("/images/fc-icons/fc-webicon-pocketapp.png"); }
.no-svg .fc-webicon.pocket.small { background: url("/images/fc-icons/fc-webicon-pocketapp-s.png"); }
.svg .fc-webicon.pocket { background: url("/images/fc-icons/fc-webicon-pocketapp.svg"); }

/* RSS */
.no-svg .fc-webicon.rss { background: url("/images/fc-icons/fc-webicon-rss-m.png"); }
.no-svg .fc-webicon.rss.large { background: url("/images/fc-icons/fc-webicon-rss.png"); }
.no-svg .fc-webicon.rss.small { background: url("/images/fc-icons/fc-webicon-rss-s.png"); }
.svg .fc-webicon.rss { background: url("/images/fc-icons/fc-webicon-rss.svg"); }

/* Stack Overflow */
.no-svg .fc-webicon.stackoverflow { background: url("/images/fc-icons/fc-webicon-stackoverflow-m.png"); }
.no-svg .fc-webicon.stackoverflow.large { background: url("/images/fc-icons/fc-webicon-stackoverflow.png"); }
.no-svg .fc-webicon.stackoverflow.small { background: url("/images/fc-icons/fc-webicon-stackoverflow-s.png"); }
.svg .fc-webicon.stackoverflow { background: url("/images/fc-icons/fc-webicon-stackoverflow.svg"); }

/* Tumblr */
.no-svg .fc-webicon.tumblr { background: url("/images/fc-icons/fc-webicon-tumblr-m.png"); }
.no-svg .fc-webicon.tumblr.large { background: url("/images/fc-icons/fc-webicon-tumblr.png"); }
.no-svg .fc-webicon.tumblr.small { background: url("/images/fc-icons/fc-webicon-tumblr-s.png"); }
.svg .fc-webicon.tumblr { background: url("/images/fc-icons/fc-webicon-tumblr.svg"); }

/* Twitter */
.no-svg .fc-webicon.twitter { background: url("/images/fc-icons/fc-webicon-twitter-m.png"); }
.no-svg .fc-webicon.twitter.large { background: url("/images/fc-icons/fc-webicon-twitter.png"); }
.no-svg .fc-webicon.twitter.small { background: url("/images/fc-icons/fc-webicon-twitter-s.png"); }
.svg .fc-webicon.twitter { background: url("/images/fc-icons/fc-webicon-twitter.svg"); }

/* Vimeo */
.no-svg .fc-webicon.vimeo { background: url("/images/fc-icons/fc-webicon-vimeo-m.png"); }
.no-svg .fc-webicon.vimeo.large { background: url("/images/fc-icons/fc-webicon-vimeo.png"); }
.no-svg .fc-webicon.vimeo.small { background: url("/images/fc-icons/fc-webicon-vimeo-s.png"); }
.svg .fc-webicon.vimeo { background: url("/images/fc-icons/fc-webicon-vimeo.svg"); }

/* Yelp! */
.no-svg .fc-webicon.yelp { background: url("/images/fc-icons/fc-webicon-yelp-m.png"); }
.no-svg .fc-webicon.yelp.large { background: url("/images/fc-icons/fc-webicon-yelp.png"); }
.no-svg .fc-webicon.yelp.small { background: url("/images/fc-icons/fc-webicon-yelp-s.png"); }
.svg .fc-webicon.yelp { background: url("/images/fc-icons/fc-webicon-yelp.svg"); }

/* YouTube */
.no-svg .fc-webicon.youtube { background: url("/images/fc-icons/fc-webicon-youtube-m.png"); }
.no-svg .fc-webicon.youtube.large { background: url("/images/fc-icons/fc-webicon-youtube.png"); }
.no-svg .fc-webicon.youtube.small { background: url("/images/fc-icons/fc-webicon-youtube-s.png"); }
.svg .fc-webicon.youtube { background: url("/images/fc-icons/fc-webicon-youtube.svg"); }
