//
// Main Stylesheet
//

@import "compass"
@import "h5bp"

@include h5bp-normalize
@include h5bp-base-styles
@include h5bp-chromeframe

@import "grid/magic"
@import "mixins"
@import "fc-icons"

// Your own styles go here.
kbd
  background-color: #f5f5f5
  border: 1px solid #dedede
  padding: 0px 3px 2px

#mainheader
  background-color: #565658
  margin-bottom: 2em
  position: relative
  .social-links
    position: absolute
    top: 25px
    right: 15px
  .twitter-button
    margin-top: 10px
    margin-left: 2px
    max-width: 140px

#headerlogo
  @include replace-text-with-dimensions("barcamproc.png")
  @include background-2x("barcamproc_2x.png")
  margin-left: 5px

#mainnav
  @include unstyled-list
  @include clearfix
  background-color: #f6841f
  .navitem
    float: left
    a
      padding: 10px 15px
      display: block
      text-decoration: none
      color: #fff
      @include text-shadow(rgba(0,0,0,0.5) 0 1px 1px)
      &:hover
        background-color: darken(#f6841f, 10%)
  .navdate
    float: right
    font-weight: bold
    padding: 10px 15px
    color: #565658

#home
  background-color: #fafafa

#main-content
  h1
    margin-top: 0
    font-size: 2.5em
  h2
    margin: 0
    padding: 0
    color: #565658
  h3
    margin: 0
    padding: 0
    color: #565658
  p
    line-height: 1.4em
  a
    color: #159DF7
  a:visited
    color: #159DF7
  a:hover
    color: #0067AA

footer
  margin-top: 3em
  padding-bottom: 1em
  text-align: center


.container
  // Force images to scale down to their container widths.
  img
    max-width: 100%
    height: auto


// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media
