//
// Main Stylesheet
//

@import "compass"
@import "h5bp"

@include h5bp-normalize
@include h5bp-base-styles
@include h5bp-chromeframe

@import "grid/magic"
@import "mixins"
@import "fc-icons"

// Colors
$bcr-gray: #565658
$bcr-orange: #f6841f

// Your own styles go here.
body
  background-color: #fafafa

kbd
  background-color: #f5f5f5
  border: 1px solid #dedede
  padding: 0px 3px 2px

#mainheader
  background-color: $bcr-gray
  margin-bottom: 20px
  position: relative
  .social-links
    display: none
  @include at-breakpoint($break-tablet)
    .social-links
      display: block
      position: absolute
      top: 25px
      right: 15px
    .twitter-button
      margin-top: 10px
      margin-left: 2px
      max-width: 140px

#headerlogo
  margin-left: 5px
  a.logolink
    display: block
    @include replace-text-with-dimensions("barcamproc.png")
    @include background-2x("barcamproc_2x.png")

#mainnav
  @include unstyled-list
  background-color: $bcr-orange
  .navitem
    border-bottom: 1px solid rgba(0,0,0,0.1)
  a
    display: block
    padding: 10px 15px
    text-decoration: none
    color: #fff
    @include text-shadow(rgba(0,0,0,0.5) 0 1px 1px)
    &:hover
      background-color: darken($bcr-orange, 10%)
  .navdate
    display: none

  @include at-breakpoint($break-tablet)
    @include clearfix
    .navitem
      float: left
      border-bottom: none
  @include at-breakpoint($break-desktop)
    .navdate
      display: inline
      float: right
      font-weight: bold
      padding: 10px 15px
      color: $bcr-gray

#main-content
  h1, h2, h3
    line-height: 1.2em

  h1
    margin: 0 0 0.3em
    font-size: 1.5em
    @include at-breakpoint($break-desktop)
      font-size: 2em
  h2
    margin: -0.3em 0 0.5em
    color: $bcr-gray
    font-size: 1.3em
    @include at-breakpoint($break-desktop)
      font-size: 1.5em
  h3
    margin: 1em 0 0
    color: $bcr-gray
  iframe
    margin: 1em 0
  p
    line-height: 1.4em
  a
    color: #159DF7
  a:visited
    color: #159DF7
  a:hover
    color: #0067AA

  .howToHeading
    background-position: left center
    background-repeat: no-repeat
    padding-left: 110px
    height: 100px
  .howToHeadingText
    font-size: 40px
    font-weight: bold
    padding-top: 23px
  .hth_before
    background-image: url('/images/pencilicon2.png')
  .hth_during
    background-image: url('/images/chaticon2.png')
  .hth_after
    background-image: url('/images/beericon2.png')

  .bclogos
    .bclogoSet
      @include clearfix
      margin-bottom: 20px
      padding: 10px
      border: 1px solid #CCC
      @include border-radius(4px)
      .logodesc
        font-weight: bold
        margin-bottom: 0.5em
        font-size: 12px
      ul
        margin: 0
        padding: 2px 2px 5px 2px
        list-style-type: none
        font-size: 12px
      ul
        padding: 0px 0px 1px 2px
      li
        padding: 0px 0px 1px 2px
      img
        padding: 0
        margin: 0
    .logo
      width: 350px
    .icon
      width: 200px
    .quote
      margin-left: 10px
      padding-left: 10px
      border-left: 3px solid #CCC
      font-style: italic

  #sponsorPageLogo
    text-align: center
    margin-top: 20px
    margin-bottom: 20px
    padding: 10px
    border: 1px solid #cccccc
    background-color: #FFF

  .sponsorevent
    width: 600px
    border-width: 1px 7px 1px 7px
    border-style: solid
    text-align: center
    margin: 5px auto
    padding: 5px

  #becomeCorporateSponsor
    display: block
    text-decoration: none
    text-align: center
    padding: 15px
    font-size: 24px
    width: 400px
    margin: 30px auto 30px auto
    background-color: #DDD
    border: 1px solid #565658

  #donationTable
    border-collapse: collapse
    border: 1px solid #cccccc
    th, td
      border: 1px solid #cccccc
    th
      font-weight: bold
      padding: 15px
      background-color: #EEE
      sup
        font-weight: normal
    td
      text-align: center
      padding: 5px

  .beleet
    text-align: center
    font-size: 22px
    font-weight: bold
    border: 1px solid #cccccc
    padding: 20px
    margin: 40px auto 40px auto
    width: 500px
  #finBreakdown
    border: 1px solid #cccccc

  #sponsors
    @include unstyled-list
    border: 1px solid #cccccc
    @include border-radius(4px)
    margin-top: 10px
    padding: 20px
    background-color: #fff

  .bcr-sponsor
    @include clearfix
    border-top: 1px solid #cccccc
    font-size: 1.1em
    padding-bottom: 5px
    padding-top: 20px
    margin-bottom: 8px
    text-align: left
    &:first-child
      border-top: none
      padding-top: 0
    .bcr-sponsor-logo
      margin: 0 auto 1em
      display: block
      width: 200px
      @include at-breakpoint($break-tablet)
        width: 30%
        float: right
        margin: 0 0 0 10px
    .bcr-sponsor-desc
      p:first-child
        margin-top: 0
      @include at-breakpoint($break-tablet)
        float: left
        width: 65%
    .bcr-sponsor-link
      font-weight: bold
      margin-bottom: 0.5em
      a
        text-decoration: none
        &:hover
          text-decoration: underline

  #topics
    li
      font-size: 1.1em

  #google-map
    margin-bottom: 1em

footer
  margin-top: 3em
  padding-bottom: 1em
  text-align: center

.bcr-icon
  margin: 0 auto 1em
  @include replace-text-with-dimensions("barcamprocicon.png")
  @include background-2x("barcamprocicon_2x.png")


.container
  min-width: 330px
  // Force images to scale down to their container widths.
  img
    max-width: 100%
    height: auto


// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media
