//
// Main Stylesheet
//

@import "compass"
@import "h5bp"

// HTML5 Boilerplate Styles
@include h5bp-normalize
@include h5bp-base-styles

// HTML5 Boilerplate styling for Chrome Frame
@include h5bp-chromeframe

// Susy Grid Systems - choose one to customize
// @import "grid/fixed"
@import "grid/magic"

@import "mixins"
// Social icons
@import "fc-icons"

// Your own styles go here.
h1
  color: #999
  text-transform: uppercase
  line-height: 1em
h2
  line-height: 1.3em
kbd
  background-color: #f5f5f5
  border: 1px solid #dedede
  padding: 0px 3px 2px

#mainheader
  background-color: #565658
  margin-bottom: 2em
  position: relative
  .social-links
    position: absolute
    top: 25px
    right: 15px
  .twitter-button
    margin-top: 10px
    margin-left: 2px
    max-width: 140px

#headerlogo
  @include replace-text-with-dimensions("barcamproc.png")
  @include background-2x("barcamproc_2x.png")
  margin-left: 5px

#mainnav
  @include unstyled-list
  @include clearfix
  background-color: #f6841f
  .navitem
    float: left
    a
      padding: 10px 15px
      display: block
      text-decoration: none
      color: #fff
      @include text-shadow(rgba(0,0,0,0.5) 0 1px 1px)
      &:hover
        background-color: darken(#f6841f, 10%)



footer
  margin-top: 3em
  padding-bottom: 1em
  text-align: center

.container
  // Force images to scale down to their container widths.
  img
    max-width: 100%
    height: auto


// H5BP helper classes & mixins.
// @include h5bp-helpers

// Print styles.
@include h5bp-media
