- @title = "Attendee Topics"
- @bodyclass = "attendees"

%section.main-column
  :markdown
    # BarCamp Rochester

    ## #{data.global.next_event}

    If you're looking for a list of topics people are planning on, the discussion is on twitter, using #BarCampRoc and #Topic:

    <a class="twitter-timeline" href="https://twitter.com/search?q=barcamproc+%23topic" data-widget-id="447022508265324546">Tweets about "barcamproc #topic"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



