- @title = "BarCamp Rochester Attendee Topics"
- @bodyclass = "attendees"

%section.main-column
  %h1 BarCamp / CloudCamp Rochester
  %h2= data.global.next_event
  %h3 Here are some topics people will be presenting:

  #topics
    %ul
      %li
        .who
          Chris Horn
          %img{:src => Twitter.user("chorn").name }
        .what Why I am a terrible person
      / start_topics
      / end_topics

  %p
    If you haven't signed up yet, you can
    %a{:href => "/register/"} register here.

