- @title = "Attendee Topics"
- @bodyclass = "attendees"

%section.main-column
  :markdown
    # BarCamp Rochester

    ## #{data.global.next_event}

    If you haven't signed up yet, you can [register here](/register/).

    This list will be updated every day.

  <iframe width='500' height='300' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0AguUDiJimLXQdFF6NXNYYXBVVzJ5YmljUUY2LVlXVGc&single=true&gid=0&output=html&widget=true'></iframe>

