- @title = "Directions to BarCamp Rochester"
- @bodyclass = "directions"

%section.main-column
  :markdown
    # Directions to BarCamp Rochester

    Need a little help getting to BarCamp Rochester? The best way to get directions is by using the Google Map and plotting a course. However, sometimes simple text directions are easiest. We also have some information about where to park once you get to RIT.

  #google-map
    <iframe width="100%" height="260" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=215349321897314772982.0004b9f40276469d8c987&amp;z=14&amp;ie=UTF8&amp;ll=43.084497,-77.679918&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe>
    %small
      View <a href="http://maps.google.com/maps/ms?msa=0&amp;msid=215349321897314772982.0004b9f40276469d8c987&amp;ie=UTF8&amp;ll=43.084497,-77.679918&amp;spn=0,0&amp;t=m&amp;source=embed">B. Thomas Golisano College of Computing and Information Sciences</a> in a larger map.

  :markdown
    ### Parking

    When entering at the main entrance of RIT's campus, head right at the round-about. The third large parking lot on your left is Lot J. Parking in Lot J is not restricted on weekends, so feel free to park in reserved spaces. There are two buildings ahead of this lot, Golisano College of Computing and Informational Sciences is the further one, and is labeled. There will also be BarCamp Rochester signage pointing you in the right direction.

  :markdown
    ### From I-90 / From the South

    Leave I-90 at the I-390 exit. Follow signs for I-390 northbound. At the fork for I-390 North or Lehigh Station Road.  Take the Lehigh Station Road path and turn left onto Lehigh Station Road. Take this road until you come to the T intersection with East River Road. You will pass several RIT entrances (which you can use if you choose, just follow the loop around to lot J).  At the intersection with Jefferson Road, turn right. RIT's main entrance will be on your right at the next light.

  :markdown
    ### From the North

    While taking I-390 southbound, you will want to get off at Scottsville Rd. Make a right onto Scottsville and take that all the way to Jefferson Rd / Ballantyne Rd.
    The bridge across the river is the key landmark. You will make a left to cross the bridge. RIT's main entrance will be the second light and on the right hand side.
