- @title = "BarCamp Rochester How-To"
- @bodyclass = "home"

.intro
  %h1 BarCamp Rochester How-To
  :markdown
    Never been to BarCamp Rochester? It can be a little intimidating to be told that if you attend, you should present. At BarCamp Rochester, we are a little looser on those rules, because we understand the intimidation factor. We would rather you come and just experience it, than not come because you don't have a presentation. Hopefully after reading this page, you'll understand what happens at BarCamp Rochester, and maybe you'll be more comfortable going in.

.features
  %div{:class => "howToHeading hth_before"}
    %div{:class => "howToHeadingText"} Before BarCamp
  .eventTimeDetails
    %h2 Register for BarCamp Rochester
    %p
      Registration is extremely important for us. BarCamp is free, and we accept anyone, even if they sign up day of, but we like to have approximate numbers about a week before the event. This helps us coordinate food and t-shirt purchases. So head on over to
      %a{:href => "#{data.global.registration}"} our register page
      and sign up! If you do plan to present, you don't have to know your topic yet, just fill it out before the event!

    %h2 Prepare a Presentation
    :markdown
      Even if you are nervous about presenting, or don't want to present... come up with something you are passionate about, and prepare a 15-20 minute presentation. We will not make you present it if you are not comfortable. Once you have a presentation though, you *can* present if you choose to. Many first time attendees, after watching the first presentations of the day, are much more comfortable giving their own in the afternoon. Make sure you print any notes you might need - just in case there are projection technical difficulties.

    %h2 Tell Your Friends
    :markdown
      BarCamp is nothing without it's [attendees](<http://barcamproc.org/attendees). The more people that come to BarCamp, the better! Have a friend that might be interested in learning something new? A friend that is doing something really cool at work, or as a side project? Invite them! BarCamp Rochester is free, and you get free stuff! Check it out, and invite others to experience it. Worst case scenario? You get a good meal, a t-shirt, and a little less sleep that morning.

  %div{:class => "howToHeading hth_during"}
    %div{:class => "howToHeadingText"} During BarCamp
  .eventTimeDetails
    %h2 Check In
    %p Check in starts at 8am on the day of the event. When you check in you get a free t-shirt, and a presentation placard. There is usually some other free stuff at our swag table, and you can mingle with other attendees and eat some breakfast! Bring your laptop and get signed up for the wireless network. Hang out and chat, but don't miss the introductions.
    %h2 Introductions
    %p Around 8:30 or 8:40, everyone will be asked to go into the auditorium. The hosts of BarCamp Rochester will thank our sponsors, and give everyone the general rules for presentations (15-20 minutes, 5-10 minutes of questions, and give enough time for people to get to the next talk!). At the end of introductions, we will announce you can now sign up for your time to present on the giant schedule. A mad rush will ensue, and you'll have 10 minutes or so to decide what presentations to attend at 9.
    %h2 Watch Presentations
    %p Check out presentations about stuff you are already interested in. Throw in some other presentations about stuff you've never heard about. Tweet about what is awesome (or maybe about what is horrible?). Ask questions, be involved.
    %h2 Eat Lunch
    %p Lunch is free, and is served around 1pm. Spend the first half eating and socializing with others at the event, and maybe catch the start of lightning talks towards the end of lunch. We also raffle off some of our free stuff.
    %h2 Catch the Lightning Talks
    %p Lightning talks are run slightly overlapping the lunch period. The basic premise of the lightning talks is simple. You have 5 minutes to talk about your topic, once that time is up, you're kicked out and the next one starts. Fast paced and intense, but usually filled with awesome topics that don't really need a lot of time to cover, or do, but leave you wanting more.
  %h2 Give Your Own Presentation
  %p Now that you've seen a few presentations, and aren't as intimidated as you were before you woke up, throw your placard on the wall on give one yourself. Your passion for the mating habits of the African honey badger will surely peak some interest. Talk about something you care about, and you can share that passion with others. It's rewarding and exciting.
  %h2 Attend the wrap-up
  %p Something we do at BarCamp Rochester is hold an end of the day wrap-up. This talk is where you tell us what we did right, what we did wrong, and what you want to see in future BarCamps. We take notes (seriously, we do), and we try to make the next BarCamp at least 42% better than the last. We also raffle off some more free stuff, so make sure you stick around.


  %div{:class => "howToHeading hth_after"}
    %div{:class => "howToHeadingText"} After BarCamp
  .eventTimeDetails
    %h2 The After Party
    %p After every BarCamp, after we clean up the venue, we all meet up at a specified bar for drinks. If networking with people is what you hope to get out of BarCamp Rochester, don't miss this! Grab a beer with a hacker. Split some cheese fries with someone who makes his own bio-diesel. The after party is a great wrap up to an intense day.
    %h2 Write about BarCamp Rochester
    %p Do you have a blog? Write about your experience - positive OR negative. We really hope it was a positive experience, but let us know if it wasn't. Tell your friends what is was like. Make sure to follow the people you met on twitter. Keep the conversation going, and build friendship and relationships. When the next event approaches, if you liked this one, promote it yourself and get excited about coming up with another presentation about something you are passionate about.
    %h2 Get Involved
    %p We are always looking for help. If you have an idea that you can help implement, let us know, tweet at us! If you work for a company that likes to sponsor these kinds of events, let the people who make those decisions know about us. Tell them what you thought, and if it's valuable to them. BarCamp Rochester is only successful because of people like you who come to our events and make it what it is.
