- @title = "Media"
- @bodyclass = "media"

%section.main-column
  :markdown
    # BarCamp Rochester Media

    ### BarCamp Rochester Photos

    Below are several photos from previous BarCamp Rochester events. You can find more on the BarCamp Rochester [Flickr group](http://www.flickr.com/groups/barcamproc).

  :plain
    <!-- Start of Flickr Badge -->
    <style type="text/css">
    #flickr_badge_source_txt {padding:0; font: 11px Arial, Helvetica, Sans serif; color:#666666;}
    #flickr_badge_icon {display:block !important; margin:0 !important; border: 1px solid rgb(0, 0, 0) !important;}
    #flickr_icon_td {padding:0 5px 0 0 !important;}
    .flickr_badge_image {text-align:center !important;}
    .flickr_badge_image img {border: 1px solid black !important;}
    #flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
    #flickr_badge_uber_wrapper a:hover,
    #flickr_badge_uber_wrapper a:link,
    #flickr_badge_uber_wrapper a:active,
    #flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#F6841F;}
    #flickr_badge_wrapper {}
    #flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
    </style>
    <table id="flickr_badge_uber_wrapper" cellpadding="0" cellspacing="0" border="0"><tr><td><a href="http://www.flickr.com" id="flickr_www">www.<strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span></strong>.com</a><table cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
    <tr>
    <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=3&display=random&size=m&layout=h&source=user&user=37533664%40N06"></script>
    </tr>
    </table>
    </td></tr></table>
    <!-- End of Flickr Badge -->

  :markdown
    ### BarCamp Rochester Videos
    Here is a sample of some videos from previous BarCamp Rochester events. You can find more on [Vimeo](http://vimeo.com/barcamproc). Videos are recorded in only a portion of all the rooms at BarCamp Rochester.

  .fitvids
    %iframe{:src => "http://player.vimeo.com/video/19505804", :width => "320", :height => "180", :frameborder => "0"}
  .fitvids
    %iframe{:src => "http://player.vimeo.com/video/31920621", :width => "320", :height => "180", :frameborder => "0"}

  :markdown
    ### BarCamp Rochester Logos

    All of the BarCamp Rochester logos are free to use in any publication.

  .bclogos
    .bclogoSet.logo
      .logodesc BarCamp Rochester Logo - Black Text
      .bclogo
        %a{:href => "/images/barcamp_rochester_logo_reboot_black_text.png"}
          %img.logo{:src => "/images/barcamp_rochester_logo_reboot_black_text_preview.png"}
      %ul
        %li
          %a{:href => "/images/barcamp_rochester_logo_reboot_black_text.png"} Transparent PNG
        %li
          %a{:href => "/images/barcamp_rochester_logo_reboot_one_color.png"} One-Color Transparent PNG
    .bclogoSet.logo
      .logodesc BarCamp Rochester Logo - White Text
      .bclogo
        %a{:href => "/images/barcamp_rochester_logo_reboot_white_text.png"}
          %img.logo{:src => "/images/barcamp_rochester_logo_reboot_white_text_preview.png"}
      %ul
        %li
          %a{:href => "/images/barcamp_rochester_logo_reboot_white_text.png"} Transparent PNG
        %li
          %a{:href => "/images/barcamp_rochester_logo_reboot_one_color.png"} One-Color Transparent PNG
    .bclogoSet.icon
      .logodesc BarCamp Rochester Icon
      .bclogo
        %a{:href => "/images/barcamp_rochester_logo_reboot_icon.png"}
          %img.icon{:src => "/images/barcamp_rochester_logo_reboot_icon_preview.png"}
      %ul
        %li
          %a{:href => "/images/barcamp_rochester_logo_reboot_icon.png"} Transparent PNG

    :markdown
      ### BarCamp Rochester "Bites"

      If you have a need for the official BarCamp Rochester tagline, you can use the following:

      > BarCamp Rochester is Rochester's Geek Unconference.

      If you want to describe BarCamp Rochester in your own blog or in a news article, here is possible starting copy for an introduction to BarCamp Rochester.

      > BarCamp Rochester is an ad-hoc gathering in Rochester, NY born from the desire for people to share and learn in an open environment. BarCamp is an intense event with discussions, demos, and interaction from attendees.

      If you would like to arrange an interview, or talk with the organizers of BarCamp Rochester, you can send an e-mail to
      [hosts@barcamproc.org](mailto:hosts@barcamproc.org). You can also reach out to us on Twitter at [@BarCampRoc](http://twitter.com/barcamproc).
