- @title = "BarCamp Rochester Registration"
- @bodyclass = "register"

%section.main-column
  %h3="BarCamp / CloudCamp Rochester, #{data.global.next_event}"

  %iframe{src: "https://docs.google.com/forms/d/1R9ui12fo_xO2J3BpTTDuMfdG5EKWcft5JefTfWbr96U/viewform", width: "940px", height: "1000px"}
