- @title = "Registration"
- @bodyclass = "register"

%section.main-column
  :markdown
    # BarCamp Rochester
    ## #{data.global.next_event} Registration

  <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/tickets-external?eid=8645022495&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://barcamproc.eventbrite.com?ref=etckt">BarCamp Rochester Fall 2013</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>


  :markdown
    Next, put **Saturday, #{data.global.next_date} on your calendar**. Remember, check-in begins around 10:30AM, with the first presentations starting at 11:00AM.
  -# 1. [**Fill out our simple registration form**](#{data.global.registration})
  -# 1. Registrations after April 5th (when we have to order the shirts) might not get a t-shirt!
  -# 1. Keep the "Edit your response" link after you finish the form, or submit a new entry if you change your mind.  We'll do the right thing.
    See you at BarCamp!


