- @title = "BarCamp Rochester Registration"
- @bodyclass = "register"

%section.main-column
  %h3="BarCamp / CloudCamp Rochester, #{data.global.next_event}"

  %p
    %a{:href => "#{data.global.registration}"} Please register here.

