- @title = "Registration"
- @bodyclass = "register"

%section.main-column
  :markdown
    # BarCamp / CloudCamp Rochester
    ## #{data.global.next_event}
    ### Registration is easy!

    1. [**Fill out our simple registration Google form**](#{data.global.registration})
    2. Keep the "Edit your response" link after you finish the form, or submit a new entry if you change your mind.  We'll do the right thing.


