- @title = "BarCamp Rochester Registration"
- @bodyclass = "register"

%section.main-column
  %h1 BarCamp / CloudCamp Rochester
  %h2= data.global.next_event
  %h3 Registration is easy!

  %ol
    %li
      %a{:href => "#{data.global.registration}"} Fill out our registration form
      (it's a Google Form)
    %li Keep the "Edit your response" link after you finish the form, or submit a new entry if you change your mind.  We'll do the right thing.

