- @title = "Registration"
- @bodyclass = "register"

%section.main-column
  :markdown
    # BarCamp Rochester

    ## #{data.global.next_event} Registration

    ### Registration will open as soon as the next BarCampRoc is announced!

  -# Next, put **Saturday, #{data.global.next_date} on your calendar**. Remember, check-in begins around #{data.global.reg_start}, with the first presentations starting at #{data.global.talk_start}.

