- @title = "Registration"
- @bodyclass = "register"

%section.main-column
  :markdown
    # BarCamp / CloudCamp Rochester
    ## #{data.global.next_event} Registration

  -#%p
  -#Register on our
  -#%a {:href => 'http://barcamprochester.splashthat.com/'}>Splash
  -#page

  -# 1. [**Fill out our simple registration Google form**](#{data.global.registration})
  -# 1. Registrations after April 5th (when we have to order the shirts) might not get a t-shirt!
  -# 1. Keep the "Edit your response" link after you finish the form, or submit a new entry if you change your mind.  We'll do the right thing.
  -# 1. Put **Saturday, #{data.global.next_date} on your calendar**. Remember, check-in begins around 8:00AM, with the first presentations starting at 9:00AM.

  -# See you at BarCamp!


