- @title = "Sponsorship"
- @bodyclass = "home"

%section.main-column
  :markdown
    # Sponsor BarCamp Rochester

    BarCamp Rochester is completely free for attendees. Generous donations from sponsors like you make that possible.

    ### Corporate Sponsorship

    Corporate Sponsorship is the primary fundraising method available to BarCamp Rochester. Sponsoring BarCamp will get your company name and logo to innovators and entrepreneurs. Attendees have come from all over the country to be apart of BarCamp Rochester, and they are some of the best and brightest. Please send [sponsor@barcamproc.org](mailto:sponsor@barcamproc.org) an e-mail to discuss any donations you would like to make on behalf of your company, and we can discuss the best sponsorship for you.

    Every BarCamp we try to add value for our sponsors.  For Spring 2013, we have a simple chart:

  %table#donationTable
    %tr
      %th.amount Donation Amount
      %th.glossy-ads
        Glossy Ads at Event
        %sup 1
      %th.logo-and-blurb
        Logo, Link and Blurb
        %sup 2
      %th.shirt-logo-sm Small Logo on T-Shirt
      %th.shirt-logo-lg
        Large Logo on T-Shirt
        %sup 3
      %th.demo-table
        Demo Table
        %sup 4
      %th.make-donation Make Donation

    %tr
      %td.amount $100
      %td.glossy-ads 1
      %td.logo-and-blurb &#x2713;
      %td.shirt-logo-sm
      %td.shirt-logo-lg
      %td.demo-table
      %td.make-donation
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAnRBhJrw+IPuGTEatLkkSdOlP1RW2o8ciNjefnU/AqbzUZTIghuos50HJOx5b+2AQIzDqidLmyXBa3Jwe4KaiTC/BFpGWp1F8M2vm8bmtIWpzLGxMVzLCIcpJ7q4qqRmUTgM5qi9ZiYCkM1u87rioS2EMmwcgPO1FC5CgbcohuVjELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI2ZLpXiQ5GLqAgcjiuG7RUQ9H1v1SvCrl5QhvznypLk1ln2RxJiCB8blK+wdhPqjkh8kq9LooqcbIMGpfIJVLR+Y6ONKOJFwCgXq+E5cWNPcvYbDkp9IKxyzzMe6k2WpBz3lw5WpNtHXkBVkIq4dYWcLBOu3lmh2Pyxuq/88oaN/cv4vZ9Vu/UsMi3sNAe5IDnEsS1DtnRZWdloSQk2PxCzCsuxs0iO8N0vHTADdT3ANvAdL+LWtXPMvjolI2AEQwvexPN2ZmMIAOFnzGwSv7JGaY0qCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEyMDMwMjIxMDIzMVowIwYJKoZIhvcNAQkEMRYEFAsDYG+LWONlrIHxyQ6Z+ywSnPenMA0GCSqGSIb3DQEBAQUABIGAFmkmOQm8u6G2gBYJpFpGsJppBvCKa7wy6XPeUzPK8uNE/5cyDiC7XVsXDsUl8cj0SBqeQw+2irhw3Ca6WVkwjVKENlyDIUuJvyy/nM4cbHogwAvrojDIEN57xYin7+KrIGMU6lA+gvpuW7OSLxUqjI4ULdfhKSr2QpX96wfBmjw=-----END PKCS7----- "> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> </form>


    %tr
      %td.amount $200
      %td.glossy-ads 1
      %td.logo-and-blurb &#x2713;
      %td.shirt-logo-sm &#x2713;
      %td.shirt-logo-lg
      %td.demo-table
      %td.make-donation
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBDrRjOJEf98ZvCFx3Xg7uwR1zbOm9e4/plbuRrgzx+8rHA9q/xj0M8f8XpdRQhdG3WO5l946c3WX+f4ghMfBLJ40+0rCsl0yGms/hrAbI+Idy/GYthjovbyamFwMoShO5CngPfz35butVL9vJoe+UxFajfEdXp4CCh/09L2FWIXTELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIqkSzo0Jp3MyAgcjj2i8zOZqflAbQO8EtMQ1QMng9vkapnwdUUqwR9GM3ULztCjSzmJSJ5UIFSEV522fQFqZI5k2h0KOBFjkTpIRojmVRr5noWqYBQo5HPkGmU+liKDdfWSyx7bjNOsdHmpOs7pSLokkTsPwmkvp4MPgS+eFU/zUY6HJap5Afn7nO0GWFtsreCXsDrTZ99CNqow48YfjSz9Pw3SvXmpLyAt6cnx5otQIxvNZIbS8rkdapkufbPlc0YvZAHCK9Ch+h1CIlNGtoHNKA5aCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEyMDMwMjIxMDUxMlowIwYJKoZIhvcNAQkEMRYEFLa3LV+FknzZKqG+N4y5PeStrBMQMA0GCSqGSIb3DQEBAQUABIGAYiWQzxxCd2mwFx9uLgLwKrVHgdV4DmApqGTAjsFfTS5kFVBF0atPHSwVQv0QfxBWbSHlPxlIkJSJbz0N+cn9G5P5VaCjROxCqipPZjN5p0lXBw135PCC+MUtKw7D+Wg3XxfPpmHd02i4zbln1oHsYuf26eeapY6u1HtA9WEvo44=-----END PKCS7----- "> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> </form>

    %tr
      %td.amount $300
      %td.glossy-ads 2
      %td.logo-and-blurb &#x2713;
      %td.shirt-logo-sm &#x2713;
      %td.shirt-logo-lg
      %td.demo-table
      %td.make-donation
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCCqzA9RjVLKZCIp50IUrlbxtuNR+xpGlb4m0f4DCipM+Me9rHsZrvoi3kpfBB2BeSGF4RAUnz1jPq1E2/ZkUZA6op8iOA8C7Mc6dNSfJ+L1Hdb3BY1b2DgAY2qsjaccky7xv9WNhkiapYJM5cmcWrIlRoFZmI7ihXoOvL6TgNvsTELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIphs6Nz/YDlCAgcjwhyULbsjyiKJnbAnPI8AxRDsNkDYRRexeM+uHi0BzFeQyOdm0yS+vdC8sRcJieXOrFluatNrheEzjjTSHopdOQRbSRVfonCwAiDNQHMZfSrY/2eS7tr3MFvmDo6Oq196E6ixrfVtjyksTeNtspElDEeybgSIpZx/Bs+iutUB1CP9Qr0r2Z7NaH7glGNv49ac5k1hnqfmSQNfp3La7q5n+8bOR4d5D1TELeQtsRL7pMOIzX9xAS34+/nbwk24yPygVtsUdX9cnyqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEyMDMwMjIxMDYxMVowIwYJKoZIhvcNAQkEMRYEFOlrXo1QWWhT9yui+z9lUDuEk8XXMA0GCSqGSIb3DQEBAQUABIGAtupdWnNPU7R7Y5LidvYqePpBaehhUNDJR9Pm9fHKSlkoG/y08E4MdwknZLJ6HjgqT0Y7MGPJ90jWE/cK1AtlKqoTGy0a2tvU76BaUJJSY+4S+Qu0QNAaooMCaQKP+vpm98X+vRBbK+H76JILQRBMU+sPPJHM/CwlR+gSK9DWqc8=-----END PKCS7----- "> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> </form>

    %tr
      %td.amount $400
      %td.glossy-ads 3
      %td.logo-and-blurb &#x2713;
      %td.shirt-logo-sm
      %td.shirt-logo-lg &#x2713;
      %td.demo-table
      %td.make-donation
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBB8SuOWyhzwegXrMW60ixn//w9RNZvRXh7t77V+bRcgwBU0xafQNTZCLd/hx3WmWVk/tIbEKwHlywSmQSgVwzo7101Y3R+Ha1VjPbeRBPYrvVDfyEZxG8HlF+LIMtDIDIISP6BzSWG7IynWhyIoWOk2FwMcO4fHZ9kcWFVWnXHWTELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIdHPER8VYRhiAgcjZZYUiKKojOLOkpFAIkXAe+ANTGtvZKL/kjZfFj4cIjmWLy0pdsjHjI/vFmXhk+ZxiTReiZb6fXYuHNSNb66TQsg+ezpDgy1J/1hMzAybOfBLlLeSOkCd+XRolqswIRFC2e0o4FBoguGCpOdJs2EUaPpEM9H8WJfzzGkVAhixMJr169X5TVsYbHKEmeRWnRfD4VbAxnNv8QNMZwSrpdFgJiqHF47X8kQW7/f6XGD3HNCjogEECS5AmhbWWXDOjkgV8+pM9K8lkP6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEyMDMwMjIxMDYzNFowIwYJKoZIhvcNAQkEMRYEFEn4UkEn5daHJdc3RhFmUws9OVsEMA0GCSqGSIb3DQEBAQUABIGAHa+h6wm2Bp0DUlJ4/6BJHrpbWPJm3saSxQr+IFobj19CcyhGlqG0aYfvdiszyCaj86uHSvBSggkNuoJ+1doNvbH3wUCuCGInYf6HUgDJnKcaz6/f4yjAf9ofN5iq++/ivd2qBNJF2+L+IBejeOOT5gizEAPC+tSmTCgcs4ZOEZU=-----END PKCS7----- "> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> </form>

    %tr
      %td.amount $500
      %td.glossy-ads 5
      %td.logo-and-blurb &#x2713;
      %td.shirt-logo-sm
      %td.shirt-logo-lg &#x2713;
      %td.demo-table &#x2713;
      %td.make-donation
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA2U3VZ8PKABJvAq5SWwsAz6DjTbxFlejmDSCh38Mxs5rpzeH4oLw4hf55gvsvj5BIp10MkTLeNkOvXMGiC7QrTAKhA6E92zCl6ibQVyP+Ks06w+jJD/fRJpcUd6YXMfMkSvwFL8BCh/r4feT6KT2m+lwUdOC0i4HDo1NwbAdZn+zELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIIav7CLUCmLKAgciak54GtWqhJkEjfgX8jQq0KNjA6P4v2U1Ke/oA2TuYpzqQRNTARKKKTQfnpg5uS64/Y6Oo8NrPDanrluoJ7d9ABZiz/6LRIKzXMm7YLkydg9/HKtPEyot6gBFSYjXtNH/SmZzh78zaGt4R42DheHTNwV4Xecx6wVI6a+sG4n6hZ9NvDtp7Ymom0vt1gfkQD3/R9UVoc1Zx5Q920kUViYWPC4EGk5mLS3Z0uevt9DB0VSkWilrLShd6nVJDt9Y9Y9fTF+gaHaH/u6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTEyMDMwMjIxMDcwNVowIwYJKoZIhvcNAQkEMRYEFCZTgSFvshF4uLjfVP0Qm8H+XkbtMA0GCSqGSIb3DQEBAQUABIGAhHDButQv6KZEGNUXcQuIBENfxTa05gGZP5GiIzMEpwBVKu9SPjFIHrWHw5MOwovEjbJQxdFujA0NyFlHEEGPEdwY/oMq3M2m2Ny4UoTNzwJlEAJc9/vibgJqOaUUX8dtu3LyuIsVRIwmYuD8okGKhTu6Q2o4fUpfWDPtZMEvXT8=-----END PKCS7----- "> <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> </form>


  %p
    %sup 1
    The glossy ads are 8.5" x 11" and printed on photo quality stock.  We will be placing them strategically around the event.  Consider your logo or product placed next to the coffee, or the t-shirts, or at an entrance to a classroom. Our goal is to make sure every single attendee will see it.
  %p
    %sup 2
    Your company link, logo and blurb will reside on BarCamp Rochester's web site permanently associated with the event and your continued support.
  %p
    %sup 3
    Large logos are approximately
    %em twice
    the size of the small logos.
  %p
    %sup 4
    Demo tables should still be in the spirit of the BarCamp event.

  %h3 Personal Sponsorship
  :markdown
    We accept and appreciate all donations.  To donate, you can either use the PayPal Donate button or contact the hosts directly at [hosts@barcamproc.org](mailto:hosts@barcamproc.org).

  %p
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input type="hidden" name="cmd" value="_s-xclick"> <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA1w6fKRmz5jN4TUY2313B6DSFYx7hUgRo1hmEyfSJls0+a1sQmVGMBVTrZFNqMoDeqSsHYeAkMbOylf8joPYuYavmFIHFOKHh45WDriGevbVGJs57pm2ZCJIfJllUQ7uG2wDmeBbg1LWo+4I3bY6qA1ORwrRONeF54Stj1Uh+NJTELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIh5qSartWoIaAgZBQifRIfGNDB3EooeTeOLxZhxl3397idFS3NZCmSQ/bPNOuo0hBXLAv2PWUPHRNVK3S1P6FkymncpntV5UfgOC54BAQtpQL2oB5Qfx1t9S1IRonOo6krbTx4ECV01QqTKynA2XGaGWq/LDD/ki3YUw8mia+5BSQOvrLLqDv73hiQRxDaWMZHgRctkKpYFHI+mGgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMDA5MjAxOTQ1MDRaMCMGCSqGSIb3DQEJBDEWBBQg8RBgZEczYz/l2ETHAVTlUrZdHjANBgkqhkiG9w0BAQEFAASBgCLWAo873BgBnQfD7FyDRS7uwgSPT5IiNlwNz7bJZW7iEm7R8Scsd0z2YLk3ZzB+Xlshyz2bVKetm3jQ3/DNM3/N1DEwl43s2QukxFFW1BGMKtBnLfM7b/mvcPcA1K+yRi+v6WLQldt+i6kxmA4uREzIPqBb+diJLvFnTdmurBFg-----END PKCS7-----"> <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"> </form>


  :markdown
    ### Where does the money go?

    Our budget varies from year to year, and we try to utilize it as efficiently as possible. Every event, we try to provide some key things to the attendees: A free t-shirt (BarCamp Rochester logo on the front, sponsors on the back), a good meal (breakfast and lunch), and a chance to come away with something neat (books, stickers and other swag). We also need to worry about costs for promoting the event (posters), as well as costs to help enrich the event as a whole (signage and other non-dated materials). We are  fortunate for our strong relationship with [Rochester Institute of Technology](http://www.rit.edu), as our student ties there (predominately through Computer Science House), allow us to not have to spend money on a different venue.

    ![BarCamp Rochester cost breakdown](/images/cost_breakdown.png)

    The above diagram is the cost breakdown for our Spring 2011 event. This chart is just to show how our budget is usually allocated. As an attendee-focused organization, we try to spend the most money on what will benefit each of the attendees the most. We try to design and purchase shirts that will actually be worn by the attendees, even months after the event ([Fall 2010 shirt](http://www.facebook.com/photo.php?fbid=260223180678935&set=pu.117025371665384)). We also try to get high quality food for our meals, so they are something that attendees look forward to every event. Some sponsors like to donate items (such as books or laptop bags) to be raffled off during the event, which is an exciting portion of our lunch and end of day activities.
